@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark; /* Tells browser you're using dark theme */
  font-family: "Bruno Ace SC", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1B2D48; /* Actual dark background */
  color: #ffffff; /* White text for contrast */
}
